.hidden {
  display: none;
}

#clock {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 52px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#weather {
  display: flex;
  justify-content: center;
  justify-items: baseline;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#weather > span {
  margin-left: 35px;
  display: block;
}
